<div class="container-fluid p-3">
    <section class="row">


        <div class="col-3 m-3">
            <h1>here is where you will create your own gift</h1>
        </div>

        <div class="col-8">
            <div id="receivedGiftGrid" class="row">
                <div id="activeGift"></div>
                <!-- <div id="unopenedGift" class="col-3 card p-2 m-1 d-flex align-items-center justify-content-center">
                    <div class="card p-2 h-75 white-bg rounded-3 text-center">
                        <h1 class="m-2">Tag</h1>
                        <h4>Click Here to Open</h4><br>
                        <i class="fs-3 mdi mdi-cursor-default-click"></i>
                    </div>
                </div> -->

                <!-- <div id="openedActiveGift"
                    class="col-3 h-auto card p-2 m-1 d-flex align-items-center justify-content-center">
                    <div class="h-auto white-bg rounded-3 text-center">
                        <img src="https://images.unsplash.com/photo-1647221598272-9aa015392c81?q=60&w=400&h=400&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            class="card-img-top" alt="...">
                        <p class="fs-5 bg-white mt-1 rounded-3 card-text">Tag</p>
                    </div>
                     -->


            </div>

        </div>
</div>

</div>
</div>



</section>
</div>